html{
    font-family: arial,sans-serif;
}
*,
*:before,
*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
}
canvas{
    border: 1px solid black;
}
h2{
    text-align: center;
    color: black;
    margin: 0;
    font-weight: bold;
}